<form>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a role="button" class="collapsed" data-toggle="collapse" href="#collapse-time-filter">{{t 'Time Filter'}} <span class="caret"></span></a>
      </h3>
    </div>
    <div id="collapse-time-filter" class="panel-body collapse">
      <div class="form-group">
        <label for="">{{t 'Start'}}</label>
        <div class='input-group datetime start'>
          <input type='text' class="form-control input-sm" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="">{{t 'End'}}</label>
        <div class='input-group datetime end'>
          <input type='text' class="form-control input-sm" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>

      <div class="form-group time-buttons">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <a href="#" role="button" class="btn btn-default btn-sm tool tool-show-time">{{t 'Zoom to Selection'}}</a>
          <a href="#" role="button" class="btn btn-danger btn-sm tool tool-clear-time">{{t 'Clear Selection'}}</a>
        </div>
      </div>

      <div id="map-time-wrapper">
        <label for="">{{t 'Using map time'}}</label>
        <div class="form-group">
          <label for="">{{t 'Start'}}</label>
          <div class="input-group">
            <input type='text' disabled="true" class="form-control input-sm map-time-start" />
            <span class="input-group-addon">-</span>
            <input type='text' disabled="true" class="form-control input-sm map-time-end" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a role="button" class="collapsed" data-toggle="collapse" href="#collapse-spatial-filter">{{t 'Spatial Filter'}} <span class="caret"></span></a>
      </h3>
    </div>
    <div id="collapse-spatial-filter" class="panel-body collapse">
      <div class="form-group">
        <label for="">{{t 'Draw'}}</label>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <a href="#" role="button" class="btn btn-default btn-sm tool tool-point">{{t 'Point'}}</a>
          <a href="#" role="button" class="btn btn-default btn-sm tool tool-bbox">{{t 'Rectangle'}}</a>
          <a href="#" role="button" class="btn btn-default btn-sm tool tool-polygon">{{t 'Polygon'}}</a>
        </div>
      </div>
      <div class="form-group">
        <label for="">{{t 'Upload'}}</label>
        <div class="input-group">
          <div class="input-group-btn">
            <label class="btn btn-default btn-file btn-sm">
              {{t 'Browse'}} <input type="file" style="display: none;">
            </label>
          </div>
          <input type="text" class="form-control input-sm" placeholder="{{t 'No file selected'}}" disabled>
        </div>
        <div class="feature-list"></div>
      </div>

      <div id="map-bbox-wrapper">
        <label for="">{{t 'Using map bounds'}}</label>
        <div class="input-group">
          <input class="form-control input-sm" disabled="true" placeholder="Min-X">
          <span class="input-group-addon">-</span>
          <input class="form-control input-sm" disabled="true" placeholder="Min-Y">
          <span class="input-group-addon">-</span>
          <input class="form-control input-sm" disabled="true" placeholder="Max-X">
          <span class="input-group-addon">-</span>
          <input class="form-control input-sm" disabled="true" placeholder="Max-Y">
        </div>
      </div>

      <div id="selection-wrapper">
        <div class="form-group show-geometry show-point">
          <label for="">{{t 'Current Selection'}}</label>
          <div class="input-group">
            <input type="number" class="form-control input-sm" placeholder="{{t 'Longitude'}}">
            <span class="input-group-addon">-</span>
            <input type="number" class="form-control input-sm" placeholder="{{t 'Latitude'}}">
          </div>
        </div>

        <div class="form-group show-geometry show-bbox">
          <label for="">{{t 'Current Selection'}}</label>
          <div class="input-group">
            <input type="number" class="form-control input-sm" placeholder="Min-X">
            <span class="input-group-addon">-</span>
            <input type="number" class="form-control input-sm" placeholder="Min-Y">
            <span class="input-group-addon">-</span>
            <input type="number" class="form-control input-sm" placeholder="Max-X">
            <span class="input-group-addon">-</span>
            <input type="number" class="form-control input-sm" placeholder="Max-Y">
          </div>
        </div>

        <div class="form-group show-geometry show-polygon">
          <label for="">{{t 'Current Selection'}}</label>
          <input type="text" class="form-control input-sm" disabled>
        </div>

        <div class="form-group">
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <a href="#" role="button" class="btn btn-default btn-sm tool tool-show-feature">{{t 'Zoom to Selection'}}</a>
            <a href="#" role="button" class="btn btn-danger btn-sm tool tool-clear">{{t 'Clear Selection'}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{#if extraParameters.length}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a role="button" class="collapsed" data-toggle="collapse" href="#collapse-additional-filters">{{t 'Additional Filters'}} <span class="caret"></span></a>
      </h3>
    </div>
    <div id="collapse-additional-filters" class="panel-body collapse">
      {{#each extraParameters}}
      <div class="row extra-parameter">
        <label class="col-sm-6 control-label">{{this.displayName}}</label>
        <div class="col-sm-6">
          {{#if this.range}}
          <input value=""
            data-type="{{ this.type }}"
            data-provide="slider"
            data-slider-min="{{ this.min }}"
            data-slider-max="{{ this.max }}"
            data-slider-step="1"
            data-slider-value="[{{ this.min }},{{ this.max }}]"
            data-slider-tooltip=""
            />
          {{else if this.options}}
          <select data-type="{{ this.type }}" class="form-control input-sm">
            <option value="">---</option>
            {{#each this.options}}
            <option value="{{ this.value }}">{{ this.label }}</option>
            {{/each}}
          </select>
          {{else}}
          <input type="text" data-type="{{ this.type }}" class="form-control input-sm">
          {{/if}}
        </div>
        <!-- <div class="col-sm-1">
          <input type="checkbox"/>
        </div> -->
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}
</form>

<style>
.slider-horizontal {
  width: 100% !important;
}
.panel .row {
  margin-right: 0;
  padding-left: 10px;
}
.panel .col-sm-1, .panel .col-sm-2, .panel .col-sm-3, .panel .col-sm-4, .panel .col-sm-5, .panel .col-sm-6 {
  padding-left: 5px;
  padding-right: 5px;
}

.panel .input-sm {
  height: 20px;
}
</style>
