<form>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{t 'Time Filter'}}</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label for="">{{t 'Start'}}</label>
        <div class="input-group datetime" data-date-format="yyyy-mm-dd">
          <input type="date" class="form-control">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
          </div>
          <input type="time" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="">{{t 'End'}}</label>
        <div class="input-group datetime" data-date-format="yyyy-mm-dd">
          <input type="date" class="form-control">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
          </div>
          <input type="time" class="form-control">
        </div>
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{t 'Spatial Filter'}}</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <a href="#" role="button" class="btn btn-default tool tool-point">{{t 'Point'}}</a>
          <a href="#" role="button" class="btn btn-default tool tool-bbox">{{t 'Rectanlge'}}</a>
          <a href="#" role="button" class="btn btn-default tool tool-polygon">{{t 'Polygon'}}</a>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-btn">
            <label class="btn btn-default btn-file">
              {{t 'Browse'}} <input type="file" style="display: none;">
            </label>
          </div>
          <input type="text" class="form-control" placeholder="{{t 'No file selected'}}" disabled>
        </div>
        <!-- <p class="help-block">{{t 'Select a shapefile'}}</p> -->

        <!-- <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
          <span class="caret"></span>
        </button> -->
        <div class="feature-list"></div>

        <!-- <div class="panel panel-default panel-features" style="display: none">
          <div class="panel-heading">
            <h3 class="panel-title">{{t 'Features'}}</h3>
          </div>
          <div class="panel-body">
            <div class="feature-list"></div>
          </div>
        </div> -->
      </div>

      <div class="form-group">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <a href="#" role="button" class="btn btn-default disabled tool tool-show-feature">{{t 'Zoom to Selection'}}</a>
          <a href="#" role="button" class="btn btn-danger disabled tool tool-clear">{{t 'Clear Selection'}}</a>
        </div>
      </div>
    </div>
  </div>

  <!-- <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a role="tab" data-toggle="tab" href="#tab-point">{{t 'Point'}}</a></li>
    <li role="presentation"><a role="tab" data-toggle="tab" href="#tab-bbox">{{t 'Bounding Box'}}</a></li>
    <li role="presentation"><a role="tab" data-toggle="tab" href="#tab-polygon">{{t 'Polygon'}}</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab-point">
      <div class="form-group">
        <div class="input-group">
          <input type="number" class="form-control" placeholder="{{t 'Longitude'}}">
          <span class="input-group-addon">-</span>
          <input type="number" class="form-control" placeholder="{{t 'Latitude'}}">
        </div>
        <input type="button" class="btn btn-default btn-block tool-point" value="{{t 'Set Point'}}">
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="tab-bbox">
      <div class="form-group">
        <div class="input-group">
          <input type="number" class="form-control" placeholder="Min-X">
          <span class="input-group-addon">-</span>
          <input type="number" class="form-control" placeholder="Min-Y">
          <span class="input-group-addon">-</span>
          <input type="number" class="form-control" placeholder="Max-X">
          <span class="input-group-addon">-</span>
          <input type="number" class="form-control" placeholder="Max-Y">
        </div>
        <input type="button" class="btn btn-default btn-block tool-bbox" value="{{t 'Draw Bounding Box'}}">
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="tab-polygon">

    </div>
  </div> -->
</form>
