<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">{{t 'Opacity'}}</label>
    <div class="col-sm-10">
      <input class="form-control opacity-slider">
    </div>
  </div>
  {{#each options}}
    <div class="form-group">
      <label class="col-sm-2 control-label">{{t this.name}}</label>
      <div class="col-sm-12">
        {{#if this.values}}
          <select class="form-control layer-option" name="{{this.target}}">
            {{#each this.values}}
              <option value="{{this.value}}" {{#if this.isCurrent}} selected="selected"{{/if}}>{{this.label}}</option>
            {{/each}}
          </select>
        {{else if this.min includeZero=true}}
          <input type="text" data-target-low="{{this.targetLow}}" data-target-high="{{this.targetHigh}}" value="" data-slider-min="{{this.min}}" data-slider-max="{{this.max}}" data-slider-step="1" data-slider-value="[{{this.low}},{{this.high}}]"/>
        {{/if}}
      </div>
    </div>
  {{/each}}
</form>
