<button class="btn btn-default toggle-side-panel toggle-side-panel-{{position}} toggle-side-panel-out">
  <i class="fa {{icon}}" aria-hidden="true"></i>
</button>

<div class="side-panel side-panel-{{position}}">
  <button class="btn btn-default toggle-side-panel toggle-side-panel-{{position}}">
    <i class="fa fa-caret-down" aria-hidden="true"></i>
  </button>

  <nav class="nav">
    <div class="container-fluid">
      <ul class="nav nav-tabs {{#if isLeft}}navbar-right{{else}}{{/if}}">
        {{#each views}}
          <li class="{{#if @first}}active{{/if}}">
            <a href="#{{../position}}-{{@index}}" aria-controls="messages" role="tab" data-toggle="tab">{{t this.name}} {{#if this.hasInfo}}<span class="info"></span>{{/if}}</a>
          </li>
        {{/each}}
      </ul>
    </div>
  </nav>

  <div class="side-panel-content out">
    <div class="tab-content">
      {{#each views}}
        <div role="tabpanel" class="tab-pane{{#if @first}} active{{/if}}" id="{{../position}}-{{@index}}">{{t this.name}}</div>
      {{/each}}
    </div>
  </div>
</div>
