<div class="checkbox checbox-switch">
  <label class="panel-title">
    {{t 'Search'}}
    <input type="checkbox" class="search-toggle" {{#if automaticSearch}}checked{{/if}} data-layer="{{id}}">
    <span></span>
  </label>
  {{#if isValidDisplay}}
    <label class="panel-title">
      {{t 'Display'}}
      <input type="checkbox" class="display-toggle" {{#if initialDisplay}}checked{{/if}} data-layer="{{id}}">
      <span></span>
    </label>
  {{/if}}
</div>
<div class="search-results-header"></div>
<div class="result-contents"></div>
<div class="download-disabled-warning">
  {{#if anySelectedToDisplay}}
    {{#unless downloadEnabled}}
      <p>{{t 'Log in to enable the download'}}</p>
    {{/unless}}
  {{/if}}
</div>
<span class="btn-group tools search-results-footer">
  {{#if anySelectedToDisplay}}
      <button class="btn btn-default btn-sm tool start-download" type="button" disabled>{{t 'Download'}}</button>
    <div class="btn-group dropup tool" role="group">
      <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" disabled>{{t 'Download as'}} <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="#" class="download-as-metalink">{{t 'Download as Metalink'}}</a></li>
        <li><a href="#" class="download-as-url-list">{{t 'Download as URL-List'}}</a></li>
        {{#if selectFilesEnabled}}
          <li><a href="#" class="select-files">{{t 'Download selected files...'}}</a></li>
        {{/if}}
        {{#if enableFullResolutionDownload}}
          <li><a href="#" class="download-full-res">{{t 'Download full resolution'}}</a></li>
        {{/if}}
        {{#if enableProcessing}}
          <li><a href="#" class="start-processing">{{t 'Start processing'}}</a></li>
        {{/if}}
      </ul>
    </div>
      <button class="btn btn-sm btn-danger tool deselect-all" type="button" disabled>{{t 'Deselect all'}}</button>
  {{/if}}
</span>
