<div class="modal-dialog modal-full-screen-scrolling quote-modal modal-lg" style="width: 40%"; role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 5px;"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">{{t 'Getting a quote for'}} {{records.length}} {{t 'product'}}{{#if records.[1]}}{{t 's'}} {{/if}}
      </h4>
    </div>
    <div class="modal-body download-options">
      {{#if quoteModalIntro}}
        {{{quoteModalIntro}}}
      {{else}}
        <p class="quote-confirm">{{t 'confirm_quote_1'}}</p>
        <p class="quote-confirm">{{t 'confirm_quote_2'}}</p>
      {{/if}}
      {{#unless records.[0]}}
      <p>
        <span class="copy-clipboard-area"><b>{{t 'If no Products were selected, please Copy current Area to clipboard:'}}</b></span>
        <i class="fa fa-clipboard copy-clipboard-area"/>
        <p class="copy-successful"><b>{{t 'Copied current Area to clipboard!'}}</b></p>
        <p class="copy-unsuccessful"><b>{{t 'Copy to clipboard failed. Please copy the Area for the Data Order manually.'}}</b></p>
        <p>{{t 'Current Area:'}}</p>
        <p><b>{{area}}</b></p>
      </p>
      {{/unless}}
      {{#if records.[0]}}
        <p>
          <span class="copy-clipboard"><b>{{t 'Copy Product IDs to clipboard:'}}</b></span>
          <i class="fa fa-clipboard copy-clipboard"/>
          <p class="copy-successful"><b>{{t 'Copied Products to clipboard!'}}</b></p>
          <p class="copy-unsuccessful"><b>{{t 'Copy to clipboard failed. Please copy the products for the Data Order manually.'}}</b></p>
        </p>
        <div class="quote-items">
          <ul>
            {{#each productIds}}
            <li class="quote-item">{{this}}</li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">{{t 'Close' }}</button>
      <a href="{{url}}" target="_blank">
        <button type="button" class="btn btn-primary" title="{{t 'Redirect to Mundi helpdesk and finish Order'}}">{{t 'Get a Quote' }}</button>
      </a>
    </div>
  </div>
</div>
